body {
  font-family: "Montserrat", sans-serif, Helvetica;
  color: #002554;
  max-width: 1700px;
  margin: auto;
  background: cadetblue;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*HEADER*/
header {
  width: 100%;
  font-family: "Anton", Caveat, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Anton", Arial, Helvetica, sans-serif;
  font-size: 55px;
  text-align: center;
  padding: 0;
  color: rgb(39, 39, 117);
}

@media screen and (max-width: 885px) {
  h1 {
    color: white;
  }
}
#vieuxPort {
  font-family: "Caveat", Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 24px;
  text-align: center;
  /* font-style: italic; */
}

@media screen and (max-width: 885px) {
  h2 {
    font-size: 18px;
  }
}
h3 {
  display: flex;
  align-items: center;
  font-size: 30px;
  padding: 10px;
  height: 32px;
  padding: 10px;
  margin-bottom: 5px;
  text-align: center;
}

@media screen and (max-width: 885px) {
  h3 {
    font-size: 20px;
  }
}
p {
  text-align: center;
  font-size: 16px;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding-bottom: 40px;
  background-color: white;
  border-radius: 25px;
}
.logo img {
  width: 30%;
}

.carte {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: white;
  padding-bottom: 40px;
}
.carte_img {
  width: 100%;
  display: flex;
  justify-content: center;
}
.carte_img img {
  width: 90%;
  border-radius: 15px;
}

.listeCategories {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  padding: 20px 0 40px 0;
}
.listeCategories_cat {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 5px;
  width: 310px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px 3px rgb(54, 52, 50);
}
.listeCategories_nomCat {
  padding-left: 10px;
  font-size: 20px;
  color: whitesmoke;
}

.oneCat {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  width: 100%;
  margin-bottom: 40px;
}

.categorie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 97%;
  padding: 20px;
  border-bottom: solid 2px white;
}
.categorie_titre {
  margin-bottom: 0;
  text-align: center;
  color: white;
  border-color: white;
}

#listeCatlibrairie,
#oneCatlibrairie {
  background-color: #002554;
}

#numComLibrairie {
  border-color: #002554;
}

#listeCatEntretien,
#oneCatEntretien {
  background-color: #27855f;
}

#numComEntretien {
  border-color: #27855f;
}

#listeCatVetements,
#oneCatVetements {
  background-color: #eeabee;
}

#numComVetements {
  border-color: #eeabee;
}

#listeCatEcole,
#oneCatEcole {
  background-color: #ff700f;
}

#numComEcole {
  border-color: #ff700f;
}

.commerce {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  background: white;
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
}
@media screen and (max-width: 885px) {
  .commerce {
    border: 5px solid black;
    width: 80%;
  }
}
.commerce_titre {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.commerce_titre_h3etP {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.commerce_titre_h3etP p {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 20px;
  text-align: center;
}
@media screen and (max-width: 885px) {
  .commerce_titre_h3etP p {
    font-size: 16px;
  }
}
.commerce_logo {
  display: flex;
  justify-content: end;
  width: 25%;
  margin: 20px;
}
.commerce_logo img {
  border-radius: 15px;
  width: 70%;
}
.commerce_infos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.commerce_infos_contacts {
  margin-left: 20px;
  border-left: 2px solid black;
  padding: 20px;
  text-align: left;
}
.commerce_infos_contacts p {
  text-align: start;
  font-size: 18px;
}
.commerce_infos_horaires {
  padding: 20px;
  border-left: 2px solid black;
}
.commerce_infos_horaires p {
  text-align: start;
  font-size: 18px;
}
.commerce_infos_situation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
}
.commerce_infos_situation a {
  border-radius: 15px;
  box-shadow: 3px 3px 10px 3px rgb(54, 52, 50);
  margin: 20px;
  padding: 5px;
  width: 90%;
}
.commerce_infos_situation a p {
  text-align: center;
}

.numeroCommerce {
  font-size: 30px;
  font-family: initial;
  border: 6px solid;
  margin-right: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 40px;
}

/* RETOUR HAUT */
.retourhaut {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px;
  color: whitesmoke;
  font-weight: bold;
  margin: 40px 0 60px 0;
  background-color: #002554;
  box-shadow: 5px 10px 15px 3px rgb(43, 42, 41);
  height: 30px;
  border-radius: 15px;
  font-size: 20px;
  max-width: 60%;
}

@media screen and (max-width: 885px) {
  .retourhaut {
    font-size: 15px;
  }
}
.retourhaut:hover {
  color: #002554;
}

.retourhaut:active {
  background-color: white;
  color: #002554;
}

/* FIN RETOUR HAUT */
/*FOOTER*/
footer {
  width: 100%;
}

.footer {
  display: flex;
  justify-content: space-around;
  height: 500px;
}

.footer_piedDePage a {
  font-size: 14px;
  font-weight: 700;
}

.footer_piedDePage a:hover {
  color: yellowgreen;
}

/* .footer_piedDePage i {
    font-size: 50px;
    color: #444440;
  } */
.footer_piedDePage_pourflex {
  display: flex;
  justify-content: space-around;
}/*# sourceMappingURL=experts.css.map */