// @import "menuHamburger.scss";
@import "couleurs.scss";
// @import "police.scss";

.ligneDuHaut {
  font-family: "Satisfy", cursive;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: linear-gradient(to bottom, white, transparent, white),
    url("../images/ordiNature.jpg");
  //url("../images/ordiNature.jpg");
  // linear-gradient($fondFonce, $fondClair);
  height: 180px;
  &_menuDuHaut {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0%;
    width: 85%;
    @media screen and (max-width: 885px) {
      flex-direction: column;
    }
  }
  &_menuDuHaut li {
    display: flex;
    flex-direction: center;
    justify-content: center;
    margin: 10px;
    @media screen and (max-width: 885px) {
      margin: 10px;
      width: 67%;
    }
  }
  &_menuDuHaut a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $fondFonce;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    height: 35px;
    font-style: italic;
    width: 150px;
    padding: 15px;
    border-radius: 40px 0 40px 0;
    border: 3px solid $couleurLienHover;
    text-shadow: 1px 1px 1px $fondFonce;
    // background-color: $fonfFooterEtTxtCard;
    background: radial-gradient(white 30%, transparent);
    box-shadow: 0px 0px 8px 5px $cardShadow;
    @media screen and (max-width: 885px) {
      font-size: 20px;
      height: 10px;
      width: 100%;
    }
  }
  &_menuDuHaut a:hover {
    color: $couleurLienHover;
    box-shadow: 0px 0px 10px 5px $couleurLienHover;
  }

  &_menuDuHaut a:active {
    background-color: white;
    color: $couleurLienHover;
    box-shadow: 0px 0px 8px 5px $couleurLienHover;
  }
}
